@charset "UTF-8";
@import "font-awesome-sprockets";
@import "font-awesome";
/* CSS Document */
body header.sobrepor{background: #000;}


/*Estilo de fontes*/
.icones{font-family: FontAwesome;}
h3,.titulo{font-family: DesignSystemB-900I;}
p,h2{font-family: DesignSystemB-300I !important;}
.descricao{font-family:Quicksand;}
.titulo-servicos{font-family:DesignSystemB-500I; font-size: 20px;}
.titulo-localizao{font-family: DesignSystemB-900R; font-size: 17px;}
/*color*/
.amarelo, .btn-outline-warning{color: #f9d331 !important;}
.fundo-amarelo{background-color: #f9d331!important;}
/*Tamanho da fonte*/
.titulo-slide{font-size: 38px;}
.texto-slide{font-size:26px;}
.titulo, h2{font-size: 30px !important;}
.descricao{font-size:14px;}
p.descricao {margin-top: 10px;}
/*.navbar-light .navbar-toggler{border-color: #fff;}*/
.fundo-diferenciais{background-image: url(assets/images/razoes.jpg); background-size: cover; height: 100%;  width: 100%;}
.fundo-diferenciais-amarelo{background-image:url(assets/images/diferenca.jpg); background-size:cover; height: 100%; width: 100%;}
.borda-baixo {border-bottom: 1px solid #7e7e7e; width:100%; height: 10px;}
.btn-outline-warning{border-color:#f9d331 !important;}
.btn-outline-warning:hover {color: #fff !important;background-color: #ffc107;border-color: #ffc107;}
.slider{padding-left:0 !important; padding-right:0 !important;}
.slider-desck{display: block;}
div.slider-mobile {display: none;}
.fixar-top{margin-top: -11rem; padding: 0;}
.sobrepor{z-index: 1;}
.arredondar{border-radius: 20px !important; width: 15%;}
.carousel-caption {bottom: 310px; left: -10%;}
.call_to_action_redondo{border-radius:30px !important; font-family: DesignSystemB-700R;}
.call_to_action{color:#000000; font-size: 17px;line-height: 25px !important; width: 135px; background-color: #f9d331; font-family: DesignSystemB-700R;
border-top-left-radius: 30px !important; border-bottom-left-radius: 30px !important;  height: 40px; text-transform: uppercase; margin-right: -20px;}
.card-body{background-color:#000000; padding: 15px;flex:none;}
.barraamarela {  width: 100px !important; height: 30px;-webkit-transform: skew(-25deg); -moz-transform: skew(-25deg);-o-transform: skew(-25deg); background-color: #f9d331; }
.barrapreto { width: 100px !important; height: 30px;-webkit-transform: skew(-25deg);-moz-transform: skew(-25deg);-o-transform: skew(-25deg); background-color: #000;}
.card{border:none;}
.espacamento{margin-left:10%;}
.item{margin-top: -30px;text-align:center;color:#000000;padding-top: 3rem!important;}
.item img {margin-bottom: 10px;}
.estacionamento{background-image:url('assets/images/estacionamento.jpg'); background-size: cover;}
.estacionamento-texto{font-family: DesignSystemB-700R; color: #5d4f16; font-size:16px; text-transform: uppercase;}
.largura{width:283px;}
.corpo-card{background-color:transparent !important;}
.medidas{padding: 0; border: none; height: auto;}
.figura{display:flex!important; justify-content: flex-end!important;}
.figura-rodape{height:70px; margin-top: 4rem;}
.margem{margin-left:16% !important;}
.margem1{margin-left:17%; }

#main_menu{}
#main_menu a{color:#fff;padding: 5px 10px;font-family: DesignSystemB-500R;letter-spacing: 1px;}
header{border-bottom: 3px solid #f9d330;}
article header{background:#fff!important;width: 100%;}
#post-45 header.entry-header{border-bottom: 3px solid #f9d330;}
article header.entry-header{border-bottom:0px;}
article header.entry-header .col-6{display: inline-block;font-size:14px;float:right;}
article header h1{font-family: DesignSystemB-500R;font-size: 2em;padding: 10px 40px 0px;margin-top: 20px;margin-bottom: 0px;display: inline-block;}
article header h1:before{content:""; display: inline-block; width: 50px; height: 25px;background:#f9d330;margin-right: 20px;-webkit-transform: skew(-30deg);-moz-transform: skew(-30deg);-o-transform: skew(-30deg);}
article h3{font-family: DesignSystemB-500R;}
article h4{font-family: DesignSystemB-300R;}
article .entry-content{margin-top: 20px;}
article .entry-content p{margin-right:20px;}
article .col-6{padding: 0px;}
article img{width: 100%;margin-top: 0px;}
article a{font-family: DesignSystemB-500R;display:inline-block;background:#f9d330;border-radius:10px; padding: 5px 20px;color: #5d4f16;margin-top: 10px;}
article a:hover{text-decoration: none;color:#000;}
#box1{padding: 50px 90px 0px;} 
#box2{padding: 50px 90px;color:#fff;}
#box3{padding: 50px 90px 0px;background: #f9d331;} 
#box3 .servicos-icon{display: inline-block;font-family: DesignSystemB-500R;text-align: center;margin: 0px 40px;margin-top: -10px;}
#box3 .servicos-icon img{width: auto;margin-bottom: 10px;}
#box3 a{border:1px solid #000;margin-left: 90px;margin-bottom: 20px;}
#clientes{background:#f0f0f0;padding: 20px 10px;}
#clientes .carousel-item{padding:0px 100px;}
#clientes .image-item{display: inline-block;margin:0px 20px;} 

article.diferenciais #box1{background: #f9d331;padding: 0px;text-align: center;padding: 60px 0px 0px;text-align: center;}
article.diferenciais .diferenciais-icon{display: inline-block;font-family: DesignSystemB-500R;text-align: center;margin: 10px 5px;font-size: 14px;}
article.diferenciais .diferenciais-icon img{width: auto;margin-bottom: 10px;}
article.diferenciais #box2{color:#000;padding: 40px 00px 0px 90px;}
article.diferenciais #box2 h4{border-bottom:3px solid #f9d331;padding-bottom: 10px;margin-bottom: 20px;}


/* Archive Rede */
.archive header{padding-top:20px;}
.archive header h3{font-family: DesignSystemB-500R;font-size: 1.5em;padding: 0px 40px 0px;margin-bottom: 0px;display: inline-block;}
.archive header h3:before{content:""; display: inline-block; width: 50px; height: 25px;background:#f9d330;margin-right: 20px;-webkit-transform: skew(-30deg);-moz-transform: skew(-30deg);-o-transform: skew(-30deg);}
#filtros{margin:20px 0px;}
#filtros select{background: #f9d331;border: 0px;height: 40px;font-family: DesignSystemB-300r !important;width: 100%;}
#filtros p{font-family: 'Quicksand'!important;margin-bottom: 1px;font-size: 1em;}
.item-rede{max-width:30%!important;background: #fafafa;border:1px solid #c7c6c4;border-bottom: 8px solid #f9d331;text-align: center;padding: 50px 70px;margin-bottom:20px;}
.item-rede{margin-left: 3%;}
#filterSearch{background: #000;width: 100%;border: 0px;padding: 6px 10px;border-radius: 5px;color: #fff;font-family: DesignSystemB-300I !important;}

#filterSearch::placeholder,
#filterSearch::-webkit-input-placeholder{color:#fff;}
#filterSearch::-moz-placeholder,
#filterSearch:-moz-placeholder,
#filterSearch::-ms-input-placeholder,
#filterSearch:-ms-input-placeholder{color:#fff;}


/* Single Rede */
#single-rede #mapa{height: 250px;}
#single-rede #endereco{background: #fad507;}



@media(max-width:1024px){.figura {margin-left: 0;}	 }
@media (max-width: 991px){
	.fixar-top{margin:-1px;}
	.fixar-botao{margin-top: -25px;}
	.navbar-toggler{background-color: #f9d331!important;}
	header{background-color: #000;}
	.btn-collapsed{float: right;position: relative; top: -70px;margin-left: 20rem;}
	div#navbarNavAltMarkup {margin-left: 55px;}
	.posicionamento-slider{ margin-left: 10%;padding-top: 10%; }
	.posicionamento-slider-mulher{width: 315px; height:100%;margin-left: 300px;margin-top: -12rem;display: inline-block;}
}
@media (max-width:790px){
	div.slider-mobile{display: block; width: 100%;height:auto;background-image:url('assets/images/slide-mobile.jpg'); background-repeat:no-repeat;}
		div.slider-desck{display: none;}
		.saiba-mais{border: 2px solid #f9d331; border-radius: 99px;  background-color: transparent; color:#f9d331; font-family: DesignSystemB-700R; padding: 10px; cursor: pointer;}
		.saiba-mais:hover{color: #fff; background-color: #f9d331;}
		.titulo-slider-mobile{color:#f9d331; font-size: 30px; font-family: DesignSystemB-900I;}
		.posicionamento-slider{ margin-left: 20%;padding-top: 10%; }
}
@media (max-width: 768px){
	.estacionamento-imagens{width:100%;}
	.largura{width: auto;}
	.espacamento-botao{margin-right: 20px; margin-top: 10px;}
	.figura{display: none !important;}
	.figura-rodape{/*margin-left:23%;*/ margin-top: 60px;}
	.margem{margin-left:11% !important;}
	.btn-collapsed{margin-left: 7rem;}
	.btn-outline-warning{height: 40px; margin-top: 7px; padding-left: 10px !important;padding-right: 10px !important;}
}
@media(max-width: 615px){.posicionamento-slider-mulher{margin-left:200px;width: 250px;}.posicionamento-slider{margin-left: 10%;}}
@media(max-width: 479px){.figura-rodape{display:none !important;} .alinhamento{margin-left: 14%;}.espacamento-mobile{margin-left: -50px;}.ml-3.margin-mobile {margin-left: 0 !important;margin-top: 3px;}
.posicionamento-slider-mulher{width: 265px;margin-top: 10px;margin-left: 90px;}.posicionamento-slider{margin-left: 8%;}}
@media(max-width: 375px){.posicionamento-slider-mulher{margin-top: 0px;margin-left: 20%;}.posicionamento-slider{margin-left: 8%;}}
@media(max-width: 320px){
	.w-50 {width: 65% !important;}
	.margem1{margin-left:15%;}
	.titulo, h2{font-size: 25px !important;}
	.margem {margin-left: 8%;}
	.alinhamento {margin-left: 35px;}
	.btn-collapsed {float: none; position: relative;top: 0px; margin-left: 3rem;}
	.row.amarelo.mr-3 {margin-right: -1rem!important;}
	.posicionamento-slider-mulher{margin-left: 15%; width: 235px;}
}