/* Tablets */
@media(max-width: 768px){
.w-50 {width: 100%!important;}
.figura{display: none !important;}
.menu-header-container {margin-left: -17px;}
.m-left{margin-left: 0px !important;}
.logo-footer{margin-left: 5%;}
}

@media(max-width: 575px){
	div.col-md-6.m-center{margin-left: 25%;}

}