/* Tablets */
@media(max-width: 767px){
button.navbar-toggler{background-color: #f9d331;}
#main_menu .logo{margin-top: 1rem;}
.w-50 {width: 100%!important;}
#main_menu #menu .collapse{text-align: left; float: none;}
.figura{display: none !important;}
.menu-header-container {margin-left: -17px;}
button.navbar-toggler.collapsed {margin-bottom: 1rem;}
.m-left{margin-left: 0px !important;}
}